{% from "partials/icons.html" import icon_upload %}
<form class="import-upload-form" data-import-upload-form>
  <div class="import-dropzone" data-import-dropzone>
    <div class="import-dropzone__content">
      {{ icon_upload() }}
      <span class="import-dropzone__title">Drop your statement CSV here</span>
      <span class="import-dropzone__hint">
        or <button type="button" class="import-dropzone__browse" data-import-browse>browse files</button>
      </span>
      <span class="import-dropzone__file" data-import-filename hidden></span>
    </div>
  </div>
  <div class="import-upload-form__actions" data-import-actions hidden>
    <button type="button"
            class="btn btn-secondary btn-small"
            data-import-clear>
      Clear file
    </button>
    <button type="button"
            class="btn btn-primary"
            data-import-preview
            data-import-url="{{ preview_url }}">
      {{ preview_label }}
    </button>
  </div>
</form>
