{% from "partials/icons.html" import icon_info %}

{% macro weight_label_total() %}
<span class="th-with-tip">
  Total
  <span class="info-tip info-tip--below" tabindex="0" data-tip="Share of entire portfolio"
        aria-label="Share of entire portfolio">{{ icon_info() }}</span>
</span>
{% endmacro %}

{% macro weight_label_alloc() %}
<span class="th-with-tip">
  Alloc
  <span class="info-tip info-tip--below" tabindex="0" data-tip="Share among classes with a target weight"
        aria-label="Share among classes with a target weight">{{ icon_info() }}</span>
</span>
{% endmacro %}
