{% extends "base.html" %}

{% block topbar_actions %}
<div class="topbar__action-group finance-topbar-actions">
  {% include "partials/finance_year_selector.html" %}
  {% block finance_topbar_actions %}{% endblock %}
</div>
{% endblock %}

{% block content %}
<div class="finance-page">
  {% include "partials/finance_tabs.html" %}
  {% block finance_content %}{% endblock %}
</div>
{% endblock %}

{% block page_scripts %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js" defer></script>
<script src="/static/js/finance-charts.js?v=10" defer></script>
<script src="/static/js/finance.js" defer></script>
{% block finance_scripts %}{% endblock %}
{% endblock %}
